@CHARSET "UTF-8";

.main-fraim{
	width: 95%;
	position: absolute; top: 40px;
	height: 90%; 
	border: none"
}

.time-control{
	padding-left: 50px;
}

.time-inp{
	width: 50px;
	padding-right: 3px;
	text-align: right;
}